html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text {
    color: black;
    font-size: 12px;
    font-style: italic;
    padding-left: 12px;
}
